<body topmargin="0" leftmargin="0" rightmargin="0">
<div  bgcolor="#FFFFFF" id="rootDiv" align="center" style="background-color:#FFFFFF;margin-top:0px;margin-bottom:0px;margin-right:0px;margin-left:0px;padding-top:3px;padding-bottom:3px;padding-right:3px;padding-left:3px;overflow:auto;" >
<table  border="0" width="600" cellspacing="0" cellpadding="1" style="width:600px;" >
<tr>
  <td  bgcolor="#FFFFFF" rowspan="1" colspan="1" align="left" style="background-color:#FFFFFF;padding-top:1px;padding-bottom:1px;padding-right:1px;padding-left:1px;" >
  <table  bgcolor="#FFFFFF" border="0" width="100%" cellspacing="0" cellpadding="0" style="background-color:#FFFFFF;padding-top:3px;padding-bottom:3px;padding-right:3px;padding-left:3px;" >
    <tr>
      <td width="100%" rowspan="1" colspan="2" align="left">
        <table border="0" width="100%" cellpadding="0" cellspacing="0" id="content_LETTER.BLOCK1">
          <tr>
            <td valign="bottom" rowspan="1" align="center" colspan="1"><a href="http://www.inscreve-te.com.pt/<%=@inscricao.evento.entidade.sigla%>" target="_blank"><img border="0" src="http://www.inscreve-te.com.pt/images/<%=@inscricao.evento.entidade.sigla%>/email_logo.jpg" align="left" /></a></td>
          </tr>
        </table>
        <table  id="content_LETTER.BLOCK2" width="100%" border="0" hidefocus="true" tabindex="0" cellspacing="0" cols="0" cellpadding="5" contenteditable="inherit" datapagesize="0" style="margin-bottom:5px;" >
      </td>
    </tr>
    <tr>
      <td  styleclass="style_MainText" align="left" style="color:#555555;font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;font-size:10pt;" ><font color="#555555" size="2" face="Verdana,Geneva,Arial,Helvetica,sans-serif" style="color:#555555;font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;font-size:10pt;" ><font  size="2" face="Verdana,Geneva,Arial,Helvetica,sans-serif" style="FONT-SIZE:10pt;FONT-FAMILY:Verdana,Geneva,Arial,Helvetica,sans-serif;" >
        <p>
          <font  size="3" style="FONT-WEIGHT:bold;COLOR:rgb(0,120,204);">
            <%= @assunto %>
          </font><br />
        </p>
        <p>
          <font size="+0"><font  size="2" face="Verdana,Geneva,Arial,Helvetica,sans-serif" style="FONT-SIZE:10pt;FONT-FAMILY:Verdana,Geneva,Arial,Helvetica,sans-serif;">
            <i>Este e-mail refere-se à inscricao de <b>'<%=@inscricao.nome%>'</b> no evento <b>'<%= @inscricao.evento.nome %>'</b> que irá decorrer no Acampamento Baptista entre <b>'<%= @inscricao.evento.data_inicio.strftime("%d-%m-%Y") %>'</b> e <b>'<%= @inscricao.evento.data_fim.strftime("%d-%m-%Y") %>'</b></i>
            <br/><br/>
            <%= @texto %>
            <br />
          </font>
        </p>        
        <br/><br/>
      </div>
      </div>
      <br/><br/>      
      <font style="font-size:10px;color:#666666;" >Esta mensagem foi enviada para [<%= @user.email %>] como resultado de uma inscrição em <a href="http://www.inscreve-te.com.pt/<%=@user.entidade.sigla%>" style="color:#666666;" >www.inscreve-te.com.pt/<%=@inscricao.evento.entidade.sigla%></a>. <a href="http://www.inscreve-te.com.pt/<%=@inscricao.evento.entidade.sigla%>" style="color:#666666;" >Cancele a conta aqui</a></font>
      </font></font></td></tr></table>
      </td>
    </tr>
  </table>
</div>

