<body topmargin="0" leftmargin="0" rightmargin="0">
<div  bgcolor="#FFFFFF" id="rootDiv" align="center" style="background-color:#FFFFFF;margin-top:0px;margin-bottom:0px;margin-right:0px;margin-left:0px;padding-top:3px;padding-bottom:3px;padding-right:3px;padding-left:3px;overflow:auto;" >
<table  border="0" width="600" cellspacing="0" cellpadding="1" style="width:600px;" >
<tr>
  <td  bgcolor="#FFFFFF" rowspan="1" colspan="1" align="left" style="background-color:#FFFFFF;padding-top:1px;padding-bottom:1px;padding-right:1px;padding-left:1px;" >
  <table  bgcolor="#FFFFFF" border="0" width="100%" cellspacing="0" cellpadding="0" style="background-color:#FFFFFF;padding-top:3px;padding-bottom:3px;padding-right:3px;padding-left:3px;" >
    <tr>
      <td width="100%" rowspan="1" colspan="2" align="left">
        <table border="0" width="100%" cellpadding="0" cellspacing="0" id="content_LETTER.BLOCK1">
          <tr>
            <td valign="bottom" rowspan="1" align="center" colspan="1"><a href="http://www.inscreve-te.com.pt/<%=@recibo.evento.entidade.sigla%>" target="_blank"><img border="0" src="http://www.inscreve-te.com.pt/images/<%=@recibo.evento.entidade.sigla%>/email_logo.jpg" align="left" /></a></td>
          </tr>
        </table>
        <table  id="content_LETTER.BLOCK2" width="100%" border="0" hidefocus="true" tabindex="0" cellspacing="0" cols="0" cellpadding="5" contenteditable="inherit" datapagesize="0" style="margin-bottom:5px;" >
      </td>
    </tr>
    <tr>
      <td  styleclass="style_MainText" align="left" style="color:#555555;font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;font-size:10pt;" ><font color="#555555" size="2" face="Verdana,Geneva,Arial,Helvetica,sans-serif" style="color:#555555;font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;font-size:10pt;" ><font  size="2" face="Verdana,Geneva,Arial,Helvetica,sans-serif" style="FONT-SIZE:10pt;FONT-FAMILY:Verdana,Geneva,Arial,Helvetica,sans-serif;" >
        <p>
          <font  size="3" style="FONT-WEIGHT:bold;COLOR:rgb(0,120,204);">
            Aviso para Pagamento
          </font><br />
        </p>
        <p>
          <font  size="1" face="Verdana,Geneva,Arial,Helvetica,sans-serif" style="FONT-SIZE:10pt;FONT-FAMILY:Verdana,Geneva,Arial,Helvetica,sans-serif;">
            O presente e-mail serve para o alertar de que factura em nome de <b>'<%= @recibo.nome %>'</b>, com valor total de <b><%= number_to_currency(@recibo.total_recibo, :unit => "&euro;",  :separator => ",", :delimiter => ".", :format => "%n %u") %></b>, referente ao evento '<b><%= @recibo.evento.nome %></b>' tem uma data de limite de pagamento (total ou parcial) que vence a <%= @data_vencimento.strftime("%d-%m-%Y") %>, ou seja, <%= @expressao_temporal %>. 
            <br />
            <br />
            Relembramos que o não cumprimento das condições de pagamento expressas na factura levará a um cancelamento da inscrição, bem como das reservas a que se refere.
            <br />            
            <br />
            Caso, entretanto, tenha feito um pagamento ainda não considerado no sistema, ignore este aviso automático. Caso receba mais vezes um aviso que pense ser enganado, por favor informe-nos da situação, para que a possamos regularizar.
            <br />            
            <br />
            Segue em anexo, em formato PDF, um detalhe com o estado actual da Factura.<br /><br />
          </font>
        </p>
        <p>
          <font  size="1" face="Verdana,Geneva,Arial,Helvetica,sans-serif" style="FONT-SIZE:10pt;FONT-FAMILY:Verdana,Geneva,Arial,Helvetica,sans-serif;">
            Pode ver mais detalhes desta factura em:<br/>
            <a href="<%= @url %>"><%= @url %></a>
          </font>
        </p>
        
        <br />
        Obrigado
        <br/><br/>
      </div>
      </div>
      <br/><br/>
      <font style="font-size:10px;color:#666666;" >Esta mensagem foi enviada para [<%= @email %>] como resultado de uma inscrição em <a href="http://www.inscreve-te.com.pt/<%=@recibo.evento.entidade.sigla%>" style="color:#666666;" >www.inscreve-te.com.pt/<%=@recibo.evento.entidade.sigla%></a>. <a href="http://www.inscreve-te.com.pt/<%=@recibo.evento.entidade.sigla%>" style="color:#666666;" >Cancele a conta aqui</a></font>
      </font></font></td></tr></table>
      </td>
    </tr>
  </table>
</div>
